@font-face {
  font-family: "digital";
  src: url("../css/fonts/ds-digii.ttf");
}

.calculator {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  border: 15px solid #1a4589;
  margin: 150px 280px 0 280px;
  background-color: #285fb7;
  border-radius: 12px;
}

.screen {
  grid-column: 1 / 5;
  background-color: #e3f6fc;
  text-align: right;
  font-family: "digital";
  font-size: 7em;
  padding: 0 20px 0 20px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px solid #1a4589;
  background-color: #285fb7;
  color: white;
  font-size: 3em;
  box-shadow: 0 0 3px 1px;
}

.clear {
  justify-self: center;
}

.number {
  justify-self: center;
}

.percent {
  justify-self: center;
}

.squareroot {
  justify-self: center;
}

.subtract {
  justify-self: center;
}

.multiply {
  justify-self: center;
}

.divide {
  justify-self: center;
}

.add {
  justify-self: center;
}

.equal {
  justify-self: center;
}

.decimal {
  justify-self: center;
}

.negative {
  justify-self: center;
}
